<div class="homeNoAuth" ng-hide="userInfo.isAuthenticated">
    This sample demonstrates how to validate a JWT token in Node after authentication happened using ADAL.js
    <div><button class="btn btn-primary" ng-click="login()">Log in</button> to continue.</div>
</div>
<div id="home" class="authenticated" ng-show="userInfo.isAuthenticated">
    
    <div class="panel" id="panel-101">
        <header>
            
        </header>

            <a href="/#/search" ><span>Execute call</span></a>

    </div>
</div>